services:
  recnn:
    image: recnn
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - .:/project
      - /var/sinz-shared:/data
      - /CSNG:/CSNG
    env_file: .env
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0']
            capabilities: [gpu]